@model ByteBank.Forum.ViewModels.TopicoCriarViewModel

@{
    ViewBag.Title = "Criar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar Novo Tópico</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()
    <br />
    <input type="submit" value="Criar Tópico"/>
}